.body {
    font-family: 'Nunito', sans-serif;
    margin: 0 auto;
    background-image: url("https://i.postimg.cc/QM0VxyNW/background.jpg");
    max-width: 1000px;
}

.body__header {
    text-align: center;
    background-color: teal;
    border-bottom: solid teal 1px;
    padding: 2%;
    color: white
}